
#notification.notification_error {
	position:relative;
	display:block;
	height:100px !important; /*50px*/
	background-color: #aa2808;
	background-image: -moz-linear-gradient(top, #d5450d, #aa2808);
	background-image: -ms-linear-gradient(top, #d5450d, #aa2808);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5450d), to(#aa2808));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5450d), to(#aa2808));
	background-image: -o-linear-gradient(top, #d5450d, #aa2808);
	background-image: linear-gradient(top, #d5450d, #aa2808);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5450d', endColorstr='#aa2808', GradientType=0);
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5450d', endColorstr='#aa2808')";
}

#notification {
    position:relative;
    display:block;
    height:0px; /*50px*/
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #b4b4b4, #ebebeb);
	background-image: -ms-linear-gradient(top, #b4b4b4, #ebebeb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4b4b4), to(#ebebeb));
	background-image: -webkit-linear-gradient(top, #b4b4b4, #ebebeb);
	background-image: -o-linear-gradient(top, #b4b4b4, #ebebeb);
	background-image: linear-gradient(top, #b4b4b4, #ebebeb);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b4b4', endColorstr='#ebebeb', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b4b4', endColorstr='#ebebeb')";
}


#notification_text {
	float: left;
	width: 846px;
	margin-left: 47px;
	margin-top: 10px;
	padding-top: 4px;
	line-height: 18px;
	color: rgb(29, 99, 29);
	font-size: 15px;
}


#notification_info {
	width:960px;
	margin-left:auto;
	margin-right: auto;
}

#notification.notification_error > #notification_text {
	color: #eaeaea;
	font-weight: bold;
}

#notification img { border:0};

#notification_close {
	position:absolute;
	top:16px;
	right:0px;
}

.error {
	margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 10px;
	font-weight: bold;
}

