<form action="<?php echo $senangpay_url; ?>" method="post">
  <input type="hidden" name="detail" value="<?php echo $senangpay_detail; ?>" />
  <input type="hidden" name="amount" value="<?php echo $senangpay_amount; ?>" />
  <input type="hidden" name="order_id" value="<?php echo $senangpay_order_id; ?>" />
  <input type="hidden" name="hash" value="<?php echo $senangpay_hash; ?>" />
  <input type="hidden" name="name" value="<?php echo $senangpay_name; ?>" />
  <input type="hidden" name="email" value="<?php echo $senangpay_email; ?>" />
  <input type="hidden" name="phone" value="<?php echo $senangpay_phone; ?>" />
  <div class="buttons">
    <div class="text-center">
      <input style="width:236px;font-size:25px;height:80px;no-repeat;background:red;text-align: center" onclick='javascript:window.history.back()' type="button" value="Back" class="btn btn-primary" />
      <input style="width:236px;height:80px;background:url('image/icon/senangpay.png') no-repeat;text-align: center" type="submit" value="Pay Now" class="btn btn-primary" />
    </div>
  </div>
</form>