 <?php if(isset($this->session->data['order_id'])){ ?>

 <h4><?php echo $text_shipping_method; ?></h4>

 <br/>

 <?php echo $this->session->data['shipping_method']['title'];?>  [<?php echo $this->session->data['shipping_method']['text'];?>]<br/><br/>

 <input type="hidden" name="shipping_method" value="<?php echo $shipping_method_code; ?>"/>

 <?php } else{ ?>
<div id="shipping-container">
    <?php if ($shipping_methods) { ?>

      <?php foreach ($shipping_methods as $shipping_method) { ?>

        <div class='col-xs-12'>

            <?php if (!$shipping_method['error']) { ?>

              <?php foreach ($shipping_method['quote'] as $quote) { ?>

              <div class='row'>

                <?php if ($quote['code'] == $shipping_method_code) { ?>

                  <?php $code = $quote['code']; ?>

                  <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" id="<?php echo $quote['code']; ?>" checked="checked" />

                  <?php } else { ?>

                  <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" id="<?php echo $quote['code']; ?>"  checked="checked" />

                  <?php } ?>

                <label for="<?php echo $quote['code']; ?>"><?php echo $quote['title']; ?></label>

                <label for="<?php echo $quote['code']; ?>"><?php echo $quote['text']; ?></label>

                </div>

              <?php } ?>

            <?php } else { ?>

              <div class='col-xs-12'><?php echo $shipping_method['error']; ?></div>

            <?php } ?>

        </div>

      <?php } ?>

    <br />

     <?php if ($error_shipping_method) { ?>

        <div class="error"><?php echo $error_shipping_method; ?></div>

     <?php } ?>

    <?php } ?>
</div>

 <?php }?>

 

 

 

<label for="<?php echo $payment_method['code']; ?>">

<?php echo $payment_method['title']; ?>

</label>

 

 <?php if(isset($this->session->data['order_id'])) { ?>

    <h4><?php echo $text_payment_method; ?></h4><br/>

    <?php echo $this->session->data['payment_method']['title'];?><br/><br/>

    <input type="hidden" name="payment_method" value="<?php echo $payment_method_code; ?>"/>

 <?php }else{ ?> 

 <?php if ($payment_methods) { ?>

        <h4><?php echo $text_payment_method; ?></h4>

        <div class="col-xs-12">

          <?php foreach ($payment_methods as $payment_method) { ?>

              <div class='row'>  

                    <?php if ($payment_method['code'] == $payment_method_code) { ?>

                            <?php $code = $payment_method['code']; ?>

                            <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" />

                            <?php } else { ?>

                            <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" />

                            <?php } ?>

                           <label for="<?php echo $payment_method['code']; ?>"><?php echo $payment_method['title']; ?></label>

                      <?php if ($error_payment_method) { ?>

                      <div class="error"><?php echo $error_payment_method; ?></div>

                      <?php } ?>

                 </div>

	<?php } ?>

        </div>

    <?php } ?>

<?php } ?>