<?php echo $header; ?>
	<div id="content">
		<div class="breadcrumb">
			<?php foreach ($breadcrumbs as $breadcrumb) { ?>
				<?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
			<?php } ?>
		</div>
		
		<?php if ($error_warning) { ?>
			<div class="warning"><?php echo $error_warning; ?></div>
		<?php } ?>
		
		<div class="box">
			<div class="heading">
				<h1><img src="view/image/user.png" alt="" /> <?php echo $heading_title; ?></h1>
				<div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a href="<?php echo $cancel; ?>" class="button sterge"><?php echo $button_cancel; ?></a></div>
			</div>
			
			<div class="content">
				
				<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
					
					<table class="form">
						<tr>
							<td><span class="required">*</span> <?php echo $entry_name; ?></td>
							<td>
								<input type="text" name="name" value="<?php echo $name; ?>" size="100" />
                				<?php if ($error_name) { ?>
                					<span class="error"><?php echo $error_name; ?></span>
                				<?php } ?>
                			</td>
            			</tr>
            			
            			<tr>
							<td><?php echo $entry_keyword; ?></td>
							<td><input type="text" name="keyword" value="<?php echo $keyword; ?>" size="100" /></td>
			            </tr>
			            
			            <tr>
              				<td><?php echo $entry_image; ?></td>
              				<td valign="top"><div class="image"><img src="<?php echo $thumb; ?>" alt="" id="thumb" />
                				<input type="hidden" name="image" value="<?php echo $image; ?>" id="image" />
                				<br /><a onclick="image_upload('image', 'thumb');"><?php echo $text_browse; ?></a> | <a onclick="$('#thumb').attr('src', '<?php echo $no_image; ?>'); $('#image').attr('value', '');"><?php echo $text_clear; ?></a></div>
                			</td>
            			</tr> 
            			
            			<tr>
							<td><?php echo $entry_status; ?></td>
							<td>
								<select name="status">
									<option value="1" <?php if($status == 1) { echo "selected='selected'"; } ?>><?php echo $text_enabled; ?></option>
									<option value="0" <?php if($status == 0) { echo "selected='selected'"; } ?>><?php echo $text_disabled; ?></option>
								</select>
							</td>
			            </tr>
            			           			
					</table>
					
					<div id="languages" class="htabs">
						<?php foreach ($languages as $language) { ?>
							<a href="#language<?php echo $language['language_id']; ?>"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a>
						<?php } ?>
					</div>
					
					<?php foreach ($languages as $language) { ?>
          				<div id="language<?php echo $language['language_id']; ?>">
          					<table class="form">
								<tr>
				                	<td><?php echo $entry_meta_description; ?></td>
				                	<td><textarea name="author_description[<?php echo $language['language_id']; ?>][meta_description]" cols="200" rows="7"><?php echo isset($author_description[$language['language_id']]) ? $author_description[$language['language_id']]['meta_description'] : ''; ?></textarea></td>
				              	</tr>
				              	<tr>
				                	<td><?php echo $entry_meta_keyword; ?></td>
				                	<td><textarea name="author_description[<?php echo $language['language_id']; ?>][meta_keyword]" cols="200" rows="7"><?php echo isset($author_description[$language['language_id']]) ? $author_description[$language['language_id']]['meta_keyword'] : ''; ?></textarea></td>
				              	</tr>
				              	<tr>
				                	<td><?php echo $entry_description; ?></td>
				                	<td><textarea name="author_description[<?php echo $language['language_id']; ?>][description]" id="description<?php echo $language['language_id']; ?>"><?php echo isset($author_description[$language['language_id']]) ? $author_description[$language['language_id']]['description'] : ''; ?></textarea></td>
				              	</tr>
				            </table>
          				</div>
          			<?php } ?>					
						
				</form>
			</div>			
		</div>
		
	</div>
	
	<script type="text/javascript" src="view/javascript/ckeditor/ckeditor.js"></script> 
	<script type="text/javascript"><!--
	<?php foreach ($languages as $language) { ?>
		CKEDITOR.replace('description<?php echo $language['language_id']; ?>', {
			filebrowserBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
			filebrowserImageBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
			filebrowserFlashBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
			filebrowserUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
			filebrowserImageUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
			filebrowserFlashUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>'
		});
	<?php } ?>
	//--></script> 
	
	<script type="text/javascript"><!--
		function image_upload(field, thumb) {
			$('#dialog').remove();
			
			$('#content').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?route=common/filemanager&token=<?php echo $token; ?>&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
			
			$('#dialog').dialog({
				title: '<?php echo $text_image_manager; ?>',
				close: function (event, ui) {
					if ($('#' + field).attr('value')) {
						$.ajax({
							url: 'index.php?route=common/filemanager/image&token=<?php echo $token; ?>&image=' + encodeURIComponent($('#' + field).val()),
							dataType: 'text',
							success: function(data) {
								$('#' + thumb).replaceWith('<img src="' + data + '" alt="" id="' + thumb + '" />');
							}
						});
					}
				},	
				bgiframe: false,
				width: 800,
				height: 400,
				resizable: false,
				modal: false
			});
		};
	</script>
	
	<script type="text/javascript"><!--
		$('#tabs a').tabs(); 
		$('#languages a').tabs();
	</script>  
	
<?php echo $footer;?>