<script type="text/javascript" language="javascript">
jQuery(document).ready(function($) {
$('#accordion').dcAccordion({
eventType: 'click',
autoClose: false,
saveState: false,
disableLink: false,
showCount: true,
speed: 'fast'
});
});
</script>
<div style="background: #eaeaea ;color:#333;padding:15px;border:1px solid #e0e0e0" class="kdo-box">
  <div class="kdo-box-content">
  <h4 style="color:#333"><?php echo $browse_search ?></h4>

<style>
 .list_special{
font-size: 13px;
line-height: 20px;
padding: 5px;
border-bottom: 0px;
width: 180px;
list-style: none;

}

.menu_cat{
cursor:pointer;

}
.menu_cat:hover{
color:#e9322d
}

.list_special a{
text-decoration: none !important;
color:#494949;
}
</style>
    <ul id="accordion" class="kdo-category">
      <?php $total = count($categories); $i=1; foreach ($categories as $category) { ?>
      <li style='font-size:16px' <?php if($total == $i){ echo "font-size:14px" ; } ?> class="list_special">
        <a href="javascript:void(0)"<?php if ($category['category_id'] == $category_id) { ?> class="active"<?php } ?>><?php if ($category['category_id'] != $category_id) { echo '>'; } ?></a><span <?php if($database == 'oneweb_shop'){ ?> onclick="window.location='<?php echo $category['href'] ?>'" <?php } ?> class="menu_cat" ><?php echo ' '.$category['name'] ?></span>

 <?php if ($category['children']) { ?>
        <ul >
          <?php foreach ($category['children'] as $child) { ?>
              <li onclick="window.location='<?php echo $category['href']; ?>'" style="width:174px;margin-left:40px">
                <a href="<?php echo $child['href']; ?>"<?php if ($child['category_id'] == $child_id) { ?> class="active" <?php } ?>><?php echo $child['name']; ?></a>
                    <?php if($child['sister_id']){ ?>
                      <ul>
                      <?php foreach($child['sister_id'] as $sisters) { ?>
                        <li >
                        <a href="<?php echo $sisters['href']; ?>"<?php if ($sisters['category_id'] == $sisters_id) { ?> class="active"<?php } ?>><?php echo $sisters['name']; ?></a>
                        </li>
                      <?php } ?>
                      </ul>
                <?php } ?>
              </li>
          <?php } ?>
        </ul>
        <?php } ?>
      </li>
      <?php $i++; } ?>
    </ul>

  </div>
<div style="margin-top:15px;">
<input style="width:170px"  id="search_value" onclick="this.value=''" type="text" value="<?php echo $filter_name ?>" name="filter_name" />
<input style="height: 20px;
width: 20px;
margin-left: -30px;
vertical-align: middle;
cursor: pointer;" class="search_icon" type="button"  onclick='search_go()' />
</div>
</div>

<br />

<script>
document.getElementById('search_value').onkeypress = function(e){
    if (!e) e = window.event;   // resolve event instance
    if (e.keyCode == '13'){
      search_go()
    }
  }

  function search_go(){
    if(window.location.href.indexOf("index.php?") > -1) {
        window.location.href = window.location.href + "&filter_name=" + $("#search_value").val()

    }else{
    window.location.href = window.location.href + "?filter_name=" + $("#search_value").val()
}
}
</script>