<style>
    .thumbnail{
        background: transparent;
    }

    .editor{
        font-family:"Droid Serif" !Important;
        font-size:18px !Important  ;
        color:#222222 !Important
    }


    .caption p{
        text-align: justify
    }
</style>
<br/>
<div class="editor">
    <?php echo $message; ?>
</div>
<br/>

<script>
    $(".editor img").addClass("img-responsive");
</script>
