.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5000;
}

.fraction-slider .active-slide{
	z-index:9999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7000;
}

.fraction-slider .fs_fixed_obj{
	z-index:6000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	background:url(images/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.slider-wrapper .prev,
.slider-wrapper .next{
	position:absolute;
	width:45px; height:45px;
	z-index:9999;
}

.slider-wrapper .prev{
	left:-105px; top:48%;
	background:url(images/fs.prevnext.png) 0px 0px no-repeat transparent;
	
}
.slider-wrapper .prev:hover{
	background:url(images/fs.prevnext.png) 0px -45px no-repeat transparent;
}

.slider-wrapper .next{
	right:-110px; top:48%;
	background:url(images/fs.prevnext.png) -45px 0px no-repeat transparent;
}
.slider-wrapper .next:hover{
	background:url(images/fs.prevnext.png) -45px -45px no-repeat transparent;
}

.slider-wrapper:hover .prev,
.slider-wrapper:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:9999;	
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(images/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active{
	background:url(images/fs.pager.png) 0px 0px no-repeat transparent;
}

body{
	position:relative;
	
	font-family:'alte', sans-serif;
	font-weight: 200;
	-webkit-font-kerning: auto;
	-webkit-font-smoothing: antialiased;
}

/* SLIDER STYLES */
	
.slider-wrapper{
	position:relative;
	overflow:hidden;
	
	width:100%;
	
	//margin:200px auto;
	
	//background:url('images/mcoopon/bg_building.png') no-repeat bottom;
        background-size:100%;
	
}

.slider{
	position:relative;
	width:100%; 
/*	height:400px; when responsive, comment this out */
	margin:0 auto;
	
}

@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}


/* ELEMENT STYLES */

#main-slider p{
/*	position:absolute;
	top:-200px;
	
	z-index:8000;*/
	padding:1% 3%;
	
	font-size:14px;
	line-height:1.6;
	color:black;
	/*white-space: nowrap;*/
	text-transform:uppercase;
}

.claim{
	line-height:100%
}	

.teaser{
	padding:0.5% 1.5%;
	font-size:14px;
	 line-height:100%
}

.small{
	width:250px;
   padding-left:0; padding-right:0px;
	text-align:center;
}

.light-green{background:#95C542;}
.green{background:#7CB761}
.orange{background:#EF7D00}
.turky{background:#348E8A}
.white{background:#fff; color:#333}