<!DOCTYPE html>
<?php
$url = "http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";


$nowww = ereg_replace('www\.', '', $url);

$domain = parse_url($nowww);

if (!empty($domain["host"])) {

$domain_name =  $domain["host"];

} else {

$domain_name = $domain["path"];

}
?>
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
    <head>
        <meta charset="UTF-8" />
        <title><?php echo $title; ?></title>
        <base href="<?php echo $base; ?>" />
        <?php if ($description) {
        ?>
        <meta name="description" content="<?php echo $description; ?>" />
        <?php } ?>
        <?php if ($keywords) {
        ?>
        <meta name="keywords" content="<?php echo $keywords; ?>" />
        <?php } ?>
        <?php foreach ($links as $link) {
        ?>
        <link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
        <?php } ?>
        <?php foreach ($styles as $style) {
        ?>
        <link rel="<?php echo $style['rel']; ?>" type="text/css" href="<?php echo $style['href']; ?>" media="<?php echo $style['media']; ?>" />
        <?php } ?>
        <script type="text/javascript" src="view/javascript/jquery/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="view/javascript/jquery/tabs.js"></script>
        <!--        <script type="text/javascript" src="view/javascript/jquery/jquery-ui-timepicker-addon.js"></script>-->
        <script type="text/javascript" src="view/javascript/jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="view/javascript/jquery/jquery.treeview.js"></script>
        <script type="text/javascript" src="view/javascript/syntaxhighlighter/shCore.js"></script>
        <script type="text/javascript" src="view/javascript/syntaxhighlighter/shBrushXml.js"></script>
        <script type="text/javascript" src="view/javascript/syntaxhighlighter/shBrushJScript.js"></script>
        <script type="text/javascript" src="view/javascript/bootstrap.min.js"></script>
        <script type="text/javascript" src="view/javascript/jquery.loadmask.min.js"></script>
        <script type="text/javascript" src="view/js/jquery-ui.multidatespicker.js"></script>

        <link href="view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">
        <link href="view/stylesheet/shCore.css" rel="stylesheet" type="text/css">
        <link href="view/css/jquery.loadmask.css" rel="stylesheet" type="text/css">
        <link href="view/stylesheet/shThemeDefault.css" rel="stylesheet" type="text/css">
        <link href="view/stylesheet/jquery.treeview.css" rel="stylesheet" type="text/css">
        <link href="view/stylesheet/bootstrap.min.css" rel="stylesheet">
        <link href="view/stylesheet/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="view/stylesheet/font-awesome.css" rel="stylesheet">
        <link href="view/stylesheet/notifications.css" rel="stylesheet" type="text/css">
        <link href="view/stylesheet/seraphine.css" rel="stylesheet" type="text/css">
        <link href="view/stylesheet/admindesign.css" rel="stylesheet">
        <link rel="stylesheet" media="screen" type="text/css" href="view/css/colorpicker.css" />
        <script type="text/javascript" src="view/js/colorpicker.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>    <!-- Firefox  -->

        <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
        <![endif]-->

        <script type="text/javascript">



            function closeNotification() {
                $('#notification').animate({marginTop:-$('#notification').height()+'px'}, function () {
                    $('#notification').remove();
                });
            }



        </script>
        <?php foreach ($scripts as $script) {
        ?>
        <script type="text/javascript" src="<?php echo $script; ?>"></script>
        <?php } ?>
        <script type="text/javascript">
            //-----------------------------------------
            // Confirm Actions (delete, uninstall)
            //-----------------------------------------
            $(document).ready(function () {
                // Confirm Delete
                $('#form').submit(function () {
                    if ($(this).attr('action').indexOf('delete', 1) != -1) {
                        if (!confirm('<?php echo $text_confirm; ?>')) {
                            return false;
                        }
                    }
                });
                // Confirm Uninstall
                $('a').click(function () {
                    if ($(this).attr('href') != null && $(this).attr('href').indexOf('uninstall', 1) != -1) {
                        if (!confirm('<?php echo $text_confirm; ?>')) {
                            return false;
                        }
                    }
                });
            });</script>
        <style>
            .success{
                color: white;
                background: #00CC00;
                padding: 10px;
                margin-top: 41px;
            }

            #notification{
                /*                    height:100px !important*/
            }

            .breadcrumb{
                background-image:none;
                background: #62953c;
                color:white !Important;
                border:none !Important
            }

            .breadcrumb a{
                color:white !Important
            }

            .navbar-inner{
                padding-bottom:6px;
            }

            .vtabs-content{
                border:none;
            }

            table{
            }

            table td{
                font-size:11px !Important
            }

            h1{
                font-size:21px !Important
            }

            a.button{
                padding-left:2px !Important
                    padding-right:2px !Important
            }

            a{
                font-size:12px
            }
        </style>
    </head>

    <body>
        <div id="notification" style="margin-top: 0px; ">
            <div style="position:absolute;top:7px;right:40px;"><a href="javascript:closeNotification();"><img id="closenotimg" src="view/image/notifications/closenotification.png" style="display: none;"></a></div>
        </div>
        <div id="header" class="container" style="height:20px;padding-top:10px;padding-bottom:10px;text-align:left">
            <h1 style='color:white;font-size:20px'>DI CREATIVE&nbsp;</h1>

        </div>
        <style>
            .sidebar-nav {
                padding: 9px 0;
            }

            .dropdown-menu .sub-menu {
                left: 100%;
                position: absolute;
                top: 0;
                visibility: hidden;
                margin-top: -1px;
            }

            .dropdown-menu li:hover .sub-menu {
                visibility: visible;
            }

            .dropdown:hover .dropdown-menu {
                display: block;
            }

            .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
                margin-top: 0;
            }

            .navbar .sub-menu:before {
                border-bottom: 7px solid transparent;
                border-left: none;
                border-right: 7px solid rgba(0, 0, 0, 0.2);
                border-top: 7px solid transparent;
                left: -7px;
                top: 10px;
            }
            .navbar .sub-menu:after {
                border-top: 6px solid transparent;
                border-left: none;
                border-right: 6px solid #fff;
                border-bottom: 6px solid transparent;
                left: 10px;
                top: 11px;
                left: -6px;
            }
            .ads{
                float:left;
                padding:20px;
                padding-top:10px;
                padding-bottom:10px;
                font-size:14px;
                background:transparent;
                margin-right:8px
            }

            .ads a{
                color:white
            }

            #content{
                padding-top:0px
            }

            .breadcrumb{
                margin-bottom:0px
            }

            .overview{
                margin-top:25px;
            }

        </style>

        <?php if ($logged) { ?>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container" >

                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="nav-collapse ">
                        <!-- .nav, .navbar-search, .navbar-form, etc -->
                        <ul class="nav">
                            <li class=""><a href="<?php echo $home; ?>">HOME</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    BUSINESS
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header"><?php echo 'General Settings'; ?></li>
                                    <li><a style="text-shadow: none" href="<?php echo $setting; ?>" id=treeview26><?php echo 'BUSINESS Set Up'; ?></a></li>
                                    <li><a  href="index.php?route=catalog/information&token=<?php echo $this->session->data['token'] ?>" id=treeview26><?php echo 'BUSINESS Info'; ?></a></li>
                                   <!-- <li style="margin-left:0px" class="nav-header"><?php echo 'Advanced Settings'; ?></li>-->
                                    <!--<li ><a href="<?php echo $language; ?>" id=treeview1010><?php echo $text_language; ?></a></li>
                                    <li><a href="<?php echo $currency; ?>" id=treeview1011><?php echo $text_currency; ?></a></li>-->
                                    <li><a href="<?php echo $payment; ?>" id=treeview13><?php echo 'Payment Method'; ?></a></li>
                                    <li><a href="<?php echo $user; ?>" id=treeview29><?php echo 'Admin Profile'; ?></a></li>
                                  <!--  <li style="margin-left:0px" class="nav-header"><?php echo 'Holidays'; ?></li>-->
                                    <li><a href="<?php echo $shipping; ?>" id=treeview12><?php echo 'Holidays'; ?></a></li>
                               <!--     <li><a href="<?php echo $geo_zone; ?>"><?php echo $text_geo_zone; ?></a></li> -->

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    PRODUCTS
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header"><?php echo 'General Settings'; ?></li>
                                    <li><a href="<?php echo $category; ?>" id=treeview2><?php echo 'Category'; ?></a></li>
                                    <li><a href="<?php echo $product; ?>" id=treeview3><?php echo 'Product Info'; ?></a></li>
                                                                      <li><a href="index.php?route=catalog/review/&token=<?php echo $this->session->data['token'] ?>" id=treeview11><?php echo 'Reviews'; ?></a></li> 

                                    <!--<li><a href="<?php echo $manufacturer; ?>" id=treeview443><?php echo 'Product Type'; ?></a></li>-->
                                    <?php if ($this->user->getUserGroup() != 'Staff') { ?>
                                   <!-- <li><a href="<?php echo $attribute; ?>" id=treeview4><?php echo 'Product Attributes'; ?></a></li>
                                    <li><a href="index.php?route=common/inventory/&token=<?php echo $this->session->data['token'] ?>" id=treeview6123><?php echo 'Product Inventory'; ?></a></li>-->
                                    <?php } ?>
                                   <!-- <li><a href="index.php?route=module/featured/&token=<?php echo $this->session->data['token'] ?>" id=treeview11><?php echo 'Featured Products'; ?></a></li> 
                                  <!--  <li><a href="<?php echo $export_import; ?>"><?php echo $text_export_import; ?></a></li> -->
                                    <li><a href="<?php echo $option; ?>" id=treeview6><?php echo 'Product Options'; ?></a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    MARKETING
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li style="margin-left:0px" class="nav-header"><?php echo 'Blog'; ?></li>
                                    <li><a href="<?php echo $simple_blog_author; ?>" id=treeview830>Author</a></li>
                                    <li><a href="<?php echo $simple_blog_category; ?>" id=treeview829>Category</a></li>
                                    <li><a href="<?php echo $simple_blog_article; ?>" id=treeview828>Article</a></li>
                                    <li><a href="<?php echo $simple_blog_comment; ?>" id=treeview831>Comment</a></li>
                                    <li><a href="<?php echo $simple_blog_view_report; ?>" id=treeview832>Views Report</a></li>
                                    <?php if($user_type == 1) { ?>
                                    <li style="margin-left:50px"  id="help"><a class="parent">Settings</a>
                                        <ul>
                                            <li><a href="<?php echo $simple_blog_general_setting; ?>">General Setting</a></li>
                                            <li><a href="<?php echo $simple_blog_category_setting; ?>">Category Setting</a></li>
                                        </ul>
                                    </li>
                                    <?php } ?>
                                    <li style="margin-left:0px"  class="nav-header"><?php echo 'Promotions'; ?></li>
                                    <li><a href="<?php echo $contact; ?>" id=treeview25><?php echo 'Email Marketing'; ?></a></li>
                                    <li style="margin-left:0px"  class="nav-header"><?php echo 'Coupons'; ?></li>
                                    <li><a href="<?php echo $coupon; ?>" id=treeview22><?php echo 'Add Discount Coupons'; ?></a></li>
                                    <li><a href="<?php echo $report_sale_coupon; ?>" id=treeview51>Coupon Reports</a></li>
                                    <!-- <li><a href="<?php echo 'index.php?route=module/news/listing&token='.$this->session->data['token'] ?>" id=treeview900><?php echo 'Blog Writing'; ?></a></li>
                                     <?php if($user_type == 1){ ?>
                                     <li><a href="<?php echo 'index.php?route=module/news&token='.$this->session->data['token'] ?>" id=treeview900><?php echo 'Blog Config'; ?></a></li>
                                     <?php } ?> -->
                                </ul>
                            </li>
                          <!--  <li >
                                <a href="index.php?route=module/contact&token=<?php echo $this->session->data['token'] ?>" >
                                    CONTACTS
                                </a>
                            </li> -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    CUSTOMERS
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li style="margin-left:0px"  class="nav-header"><?php echo 'Customer Info'; ?></li>
                                    <li><a href="<?php echo $customer; ?>" id=treeview18><?php echo 'Customer Info'; ?></a></li>
                                    <!--<li><a href="<?php echo $customer_group; ?>" id=treeview18><?php echo 'Customer Group'; ?></a></li>
                                    <li style="margin-left:0px"  class="nav-header"><?php echo 'Membership'; ?></li> 
                                    <li><a href="index.php?route=sale/customer_membership&token=<?php echo $this->session->data['token'] ?>" id=treeview18><?php echo 'Membership'; ?></a></li>
                                    <li><a href="index.php?route=sale/customer_membership_transaction&token=<?php echo $this->session->data['token'] ?>" id=treeview18><?php echo 'Membership Transaction'; ?></a></li>-->
                                    <li style="margin-left:0px"  class="nav-header"><?php echo 'Order'; ?></li>
                                    <li><a href="<?php echo $order; ?>" id=treeview99><?php echo 'Customer Order'; ?></a></li>
                                    <li><a href="<?php echo $report_customer_order; ?>" id=treeview19><?php echo 'Customer Order Summary'; ?></a></li>
                                </ul>
                            </li>
                          <!--  <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    SALES
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="<?php echo $report_sale_order; ?>" id=treeview80><?php echo 'Sales Report'; ?></a></li>
                                    <li><a href="<?php echo $report_product_purchased; ?>" id=treeview9882><?php echo $text_report_product_purchased; ?></a></li>
                                    <li><a href="<?php echo $report_product_viewed; ?>" id=treeview9889><?php echo $text_report_product_viewed; ?></a></li>
                                    <li style="margin-left:0px"  class="nav-header"><?php echo 'Report'; ?></li>
                                    <li><a href="<?php echo $report_sale_shipping; ?>" id=treeview49><?php echo $text_report_sale_shipping; ?></a></li>
                                    <li><a href="<?php echo $report_product_viewed; ?>" id=treeview52><?php echo 'Viewed Products'; ?></a></li>
                                </ul>
                            </li>-->
                            <li >
                                <a href="<?php echo $banner; ?>" id=treeview28>ITEMS</a>
                            </li>
                           <li >
                                <a href="index.php?route=extension/module&token=<?php echo $this->session->data['token'] ?>" >
                                    MODULES</a>
                            </li>
                           <li >
                                <a href="index.php?route=design/layout&token=<?php echo $this->session->data['token'] ?>" >
                                    LAYOUT</a>
                            </li>
                            <li><a href="<?php echo $logout; ?>">LOG OUT</a></li>
                        </ul>
                        <?php if ($logged) { ?><a style="  font-size: 11px;
                                                  margin-top: 24px;
                                                  color: white;
                                                  line-height: 3.5;
                                                  margin-left: 69px;" onClick="window.open('http://<?php echo $domain_name; ?>');">←&nbsp;View website</a>
                        | <span style="font-size:11px;"><?php echo $logged; ?></span><?php } ?>
                    </div>

                </div>
            </div>
        </div>
        <?php } ?>

        <div class="container" >
