

<?php if(isset($this->session->data['order_id'])) { ?>

<h4><?php echo $text_payment_method; ?></h4>
<hr/>


<?php echo $this->session->data['payment_method']['title'];?><br/><br/>

<input type="hidden" name="payment_method" value="<?php echo $payment_method_code; ?>"/>

<?php }else{ ?> 

<?php if ($payment_methods) { ?>

<h4><?php echo $text_payment_method; ?></h4>
<hr/>

<div class="col-xs-12">

    <?php foreach ($payment_methods as $payment_method) { ?>

    <div class='row'>  

        <?php if ($payment_method['code'] == $payment_method_code) { ?>

        <?php  $code = $payment_method['code']; ?>

        <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" />

        <?php } else { ?>

        <input <?php echo count($payment_methods) == 1 ? "checked='checked'" : "" ?>  type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" />

            <?php } ?>

            <label style="font-size: 12px;font-weight: normal" for="<?php echo $payment_method['code']; ?>"><?php echo $payment_method['title']; ?>
        </label>
        <br/>
        <?php if($payment_method['code'] != 'bank_transfer'){ ?>
        <img class="img-responsive" src="image/icon/<?php echo $payment_method['code'] ?>.png" />
        <?php } ?>
        <?php if ($error_payment_method) { ?>

        <div class="error"><?php echo $error_payment_method; ?></div>

        <?php } ?>

    </div>

    <?php } ?>

</div>

<?php } ?>

<?php } ?>