<span style='color: #000'>187 frames</span>	<span style='color: #900'>21,248 KB</span>	<span style='color: #090'>11,611.76 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />