/* CSS3 reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* End of CSS 3 reset */

body {  
  font-size: 0.75em; /* 12/16 */
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  line-height: 150%;
  width: 100%;  
  margin: 0 auto; 
  position: relative;   
}

h1 {
  font-size: 2em; /* 24/12 */
  margin-bottom: 1em;
  line-height: 150%;
}

h2 {
  font-size: 1.75em; /* 21/12 */
  margin-bottom: 0.875em;
}

h3 {
  font-size: 1.5em; /* 18/12 */
  margin-bottom: 0.75em;
}

h4 {
  font-size: 1.333em; /* 16/12 */
}

h5 {
  font-size: 1.666667em; /* 14/12 */
}

h6 {
  font-size: 1em; /* 12/12 */
}

p {
  max-width: 30.75em;
  margin-bottom: 1em;
}

ul {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

label {
  display: inline;
  font-weight: bold;
}

.s-error {
  display: inline;
  
  font-weight: bold;
  color: #f00;
}

header {
  padding: 2% 3%;
  z-index: 10;
  overflow: auto;
  position: relative;
}

header h2 {
  margin:0;
  height: 100%;
  line-height: 150%;
}

header #logout {
  float: right;
}

header #back {
  float: left;
}

#main {
  padding: 2%;
}

h1, h2, p, .warning, .success {
  text-align: center;
}

h1 {
  margin: 1em 0;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.button {
  margin: 0.4166667em 0;
  padding: 0.4166667em 1.667em;
  width: 100%; 
  display: block; 
  min-height: 3.667em;
  -webkit-border-radius: 0.8333333em;
  border-radius: 0.4166667em;
  font-size: 1.167em;
  cursor: pointer;
}

#login input[type="submit"] {
  width: 100%;
}

#forgotten input[type="submit"] {
  width: 45%;
  display: inline;
}

#forgotten input[type="button"] {
  float: left;
  width: 45%;
  margin-right: 9%;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 3% 0;
  text-indent: 0.4166667em;
  min-height: 3.21034em;
  font-size: 1.333em;
  border-radius: 0.4166667em;
  -webkit-radius: 0.4166667em;
}


form ul {
  list-style-type: none;
  padding-left: 0;
}

#login ul li, #forgotten ul li{
  text-align: center;
}

form#add-history {
  padding: 1em 0;
}

#add-history ul li {
  margin-bottom: 2em;
}	

#add-history select, #add-history textarea, #add-history input[type="button"] {
  width: 100%;
  font-size: 1.333em;
}

#add-history textarea {
  margin-bottom: -1em;
}

#add-history input[type="button"] {
  margin: 0;
}

#add-history input[type="checkbox"] {
  float: right;
}

.dashboard-panel {
  margin-top: 2%;
  margin-bottom: 2%;
}

.dashboard-panel h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 3% 2%;
  border-radius: 0em;
  border-top-left-radius: 0.4166667em;
  border-top-right-radius: 0.4166667em;
  -webkit-top-left-radius: 0.4166667em;
  -webkit-top-right-radius: 0.4166667em;
}

.dashboard-content {
  /*padding-bottom: 9%;*/
  border-bottom-left-radius: 0.4166667em;
  border-bottom-right-radius: 0.4166667em;
  -webkit-border-bottom-left-radius: 0.4166667em;
  -webkit-border-bottom-right-radius: 0.4166667em;
}

.dashboard-content tr {
  position: relative;
  display: block;
  padding: 3% 2%;
  
}

.order {
  list-style-type: none;
}

.order a {
  display: inline-block;
  width: 94%;
  height: 96%;
  padding: 2% 3%;
  /*border: 1px solid red;*/

}

.order a:after {
  width: 0;
  height: 0;
  display: inline-block;
  float: right;
  margin-right: 2%;
  line-height: 150%;
}

.order li {
  position: relative;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  width: auto;
  height: auto;  
  /*padding: 0.4166667em;*/
  line-height: 150%;
}

.order-content tr, .details-content tr {
  padding: 3% 4%;
  display: block;
  /*padding: 0.4165em 0.4166667em;*/
}

#details h3, .history h4 {
  margin-bottom: 0;
  /*margin-top: 0;*/
  padding: 3% 4%;
}

.history h4 {
  padding: 1.5% 4%;
}

.details-content section {
  margin-bottom: 1em;
}

table {
  width: 100%;
}

tr {
  position: relative;
}

td {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 48%;
}

th {
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 50%;
}

table.total th {
  text-align: right;
  width: 75%;
}

table.total td {
  width: 22%;    
}

.details-content caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.333em;
  padding: 3% 4%;
}

.center {
  text-align: center;
}

footer {
  margin: 1em 0;
  text-align: center;
  font-size: smaller;
}

/* 
==============================
		Theming 
		Colors, border colors, 
		backgrounds, icons, symbols
		all can be found below.
==============================
*/

body {
  background: #3a8fd7;
}

h1, h2, h3, p {
  color: #FFFFFF;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow : 0em -0.08666em 0em rgba(0,0,0,0.8);
}

header {
  background: #003366;
  background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#306DA5));
  background: -o-linear-gradient(top, #42aaff, #306DA5);
  box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.5);  
  color: #FFF;
}

header a {
  color: #FFF;
}

header h2 {
  text-shadow : 0em -0.08666em 0em rgba(0,0,0,0.8);
} 

tr:nth-child(odd) {
  background: #E1E1F1;
}

input[type="text"], input[type="password"] {
  border: 0.1em solid #517aa3;
}

.button {
  border: 0.1em solid #517aa3;
  background: #003366;
  background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#003366));
  background-image: -o-linear-gradient(top, #42aaff, #003366);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 1px rgba(255, 255, 255, 0.6);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

/*.dashboard-panel*/ h3 {
  background: #306DA5;
  color: #FFFFFF;
  text-shadow: 0.1em 0.1em 0.1em #333;
  /*border: 0.1em solid #517aa3;*/
	
}

.dashboard-content {
  background: #FFFFFF;
  border: 0.1em solid #517aa3;
}

/*.order li {
  border-bottom: 0.1em solid #517aa3;
}*/

#details {
  border-top: 0.1em solid #EEE;
}

#details h3 {
  border-bottom: 0.1em solid #517aa3;
}

#history h4 {
  border-top: 0.1em solid #d6d6d6;
  background: #d0d0d0;
  border-bottom: 0.1em solid #a3a3a3;
}

.details-content {
  background: #FFFFFF;
}

/*.order a::after {  
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid black;
}*/

.order a:after {
  content: '\25B6';
  line-height: 1em; 
}       

/* Quick Hack */
.header-button {
    text-align: center;
    display : block;
    line-height: 2.5em;  
    height:2.5em;
    width:auto;
    padding: 0 0.833333em;
    background-size : 2.5em 2.5em;

    background-repeat:repeat-x;
    background-position :0;
    background-image : -moz-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -o-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -webkit-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );

    border-radius: 0.41666667em;

    border-bottom: 0.1em solid rgba(255,255,255,0.4);

    box-shadow :0 -0.1em 0.1em rgba(0,0,0,0.2)inset,
        0 0.1em 0.2em rgba(0,0,0,0.8)inset;

    color:#fff;
    text-shadow : 0em -0.1em 0em rgba(0,0,0,0.8);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

