<?php echo $header; ?>

<div id="content">

  <div class="breadcrumb">

    <?php foreach ($breadcrumbs as $breadcrumb) { ?>

    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>

    <?php } ?>

  </div>

  <?php if ($error_warning) { ?>

  <div class="warning"><?php echo $error_warning; ?></div>

  <?php } ?>

  <?php if ($success) { ?>

  <div class="success"><?php echo $success; ?></div>

  <?php } ?>

  <div class="box">

    <div class="heading">

      <h1><img src="view/image/customer.png" alt="" /> <?php echo $heading_title; ?></h1>

            <div class="buttons"><a <?php if($this->user->getUserGroup() == 'Staff'){ echo 'style="visibility:hidden"'; } ?> onclick="$('form').attr('action', '<?php echo $approve; ?>'); $('form').submit();" class="button"><?php echo $button_approve; ?></a><a onclick="location = '<?php echo $insert; ?>'" class="button"><?php echo $button_insert; ?></a><a  onclick="$('form').attr('action', '<?php echo $delete; ?>'); $('form').submit();" class="button"><?php echo $button_delete; ?></a></div>

    </div>

    <div class="content">

      <form action="" method="post" enctype="multipart/form-data" id="form">

        <table class="list">

          <thead>

            <tr>

              <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>

              <td class="left"><?php if ($sort == 'name') { ?>

                <a href="<?php echo $sort_name; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_name; ?></a>

                <?php } else { ?>

                <a href="<?php echo $sort_name; ?>"><?php echo $column_name; ?></a>

                <?php } ?></td>

              <td class="left"><?php if ($sort == 'c.email') { ?>

                <a href="<?php echo $sort_email; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_email; ?></a>

                <?php } else { ?>

                <a href="<?php echo $sort_email; ?>"><?php echo $column_email; ?></a>

                <?php } ?></td>
              <td class="left"><?php if ($sort == 'c.telephone') { ?>

                <a href="<?php echo $sort_telephone; ?>" class="<?php echo strtolower($order); ?>"><?php echo 'Phone No.'; ?></a>

                <?php } else { ?>

                <a href="<?php echo $sort_telephone; ?>"><?php echo 'Phone No.'; ?></a>

                <?php } ?></td>
              <td class="left">State</td>

            

              <td class="left"><?php if ($sort == 'c.status') { ?>

                <a href="<?php echo $sort_status; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_status; ?></a>

                <?php } else { ?>

                <a href="<?php echo $sort_status; ?>"><?php echo $column_status; ?></a>

                <?php } ?></td>

              

              <td class="left"><?php if ($sort == 'c.date_added') { ?>

                <a href="<?php echo $sort_date_added; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_date_added; ?></a>

                <?php } else { ?>

                <a href="<?php echo $sort_date_added; ?>"><?php echo $column_date_added; ?></a>

                <?php } ?></td>

              <td <?php if($this->user->getUserGroup() == 'Staff'){ echo 'style="display:none"'; } ?> class="left"><?php echo $column_login; ?></td>

              <td class="right"><?php echo $column_action; ?></td>

            </tr>

          </thead>

          <tbody>

            <tr class="filter">

              <td></td>

              <td><input type="text" name="filter_name" value="<?php echo $filter_name; ?>" /></td>

              <td><input type="text" name="filter_email" value="<?php echo $filter_email; ?>" /></td>

              <td><input type="text" name="filter_telephone" value="<?php echo $filter_telephone; ?>" /></td>

              <td></td>

              <td><select name="filter_status">

                  <option value="*"></option>

                  <?php if ($filter_status) { ?>

                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>

                  <?php } else { ?>

                  <option value="1"><?php echo $text_enabled; ?></option>

                  <?php } ?>

                  <?php if (!is_null($filter_status) && !$filter_status) { ?>

                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>

                  <?php } else { ?>

                  <option value="0"><?php echo $text_disabled; ?></option>

                  <?php } ?>

                </select></td>

    

              <td><input type="text" name="filter_date_added" value="<?php echo $filter_date_added; ?>" size="12" id="date" /></td>

              <td <?php if($this->user->getUserGroup() == 'Staff'){ echo 'style="display:none"'; } ?>></td>

              <td align="right"><a onclick="filter();" class="button"><?php echo $button_filter; ?></a></td>

            </tr>

            <?php if ($customers) { ?>

            <?php foreach ($customers as $customer) { ?>

            <tr>

              <td style="text-align: center;"><?php if ($customer['selected']) { ?>

                <input type="checkbox" name="selected[]" value="<?php echo $customer['customer_id']; ?>" checked="checked" />

                <?php } else { ?>

                <input type="checkbox" name="selected[]" value="<?php echo $customer['customer_id']; ?>" />

                <?php } ?></td>

              <td class="left"><?php echo $customer['name']; ?></td>

              <td class="left"><?php echo $customer['email']; ?></td>

              <td class="left"><?php echo $customer['telephone']; ?></td>

              <td class="left"><?php echo $customer['state']; ?></td>



              <td class="left"><?php echo $customer['status']; ?></td>

      
              <td class="left"><?php echo $customer['date_added']; ?></td>

              <td <?php if($this->user->getUserGroup() == 'Staff'){ echo 'style="display:none"'; } ?> class="left"><select  onchange="((this.value !== '') ? window.open('index.php?route=sale/customer/login&token=<?php echo $token; ?>&customer_id=<?php echo $customer['customer_id']; ?>&store_id=' + this.value) : null); this.value = '';">

                  <option value=""><?php echo $text_select; ?></option>

                  <option value="0"><?php echo $text_default; ?></option>

                  <?php foreach ($stores as $store) { ?>

                  <option value="<?php echo $store['store_id']; ?>"><?php echo $store['name']; ?></option>

                  <?php } ?>

                </select></td>

              <td class="right"><?php foreach ($customer['action'] as $action) { ?>

                [ <a href="<?php echo $action['href']; ?>"><?php echo $action['text']; ?></a> ]

                <?php } ?></td>

            </tr>

            <?php } ?>

            <?php } else { ?>

            <tr>

              <td class="center" colspan="10"><?php echo $text_no_results; ?></td>

            </tr>

            <?php } ?>

          </tbody>

        </table>

      </form>

      <div class="pagination"><?php echo $pagination; ?></div>

    </div>

  </div>

</div>

<script type="text/javascript"><!--

function filter() {

	url = 'index.php?route=sale/customer&token=<?php echo $token; ?>';



	var filter_name = $('input[name=\'filter_name\']').attr('value');



	if (filter_name) {

		url += '&filter_name=' + encodeURIComponent(filter_name);

	}



	var filter_email = $('input[name=\'filter_email\']').attr('value');



	if (filter_email) {

		url += '&filter_email=' + encodeURIComponent(filter_email);

	}

	var filter_telephone = $('input[name=\'filter_telephone\']').attr('value');



	if (filter_telephone) {

		url += '&filter_telephone=' + encodeURIComponent(filter_telephone);

	}



	



	var filter_status = $('select[name=\'filter_status\']').attr('value');



	if (filter_status != '*') {

		url += '&filter_status=' + encodeURIComponent(filter_status);

	}



	var filter_approved = $('select[name=\'filter_approved\']').attr('value');



	if (filter_approved != '*') {

		//url += '&filter_approved=' + encodeURIComponent(filter_approved);

	}



	var filter_ip = $('input[name=\'filter_ip\']').attr('value');



	if (filter_ip) {

		url += '&filter_ip=' + encodeURIComponent(filter_ip);

	}



	var filter_date_added = $('input[name=\'filter_date_added\']').attr('value');



	if (filter_date_added) {

		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);

	}



	location = url;

}

//--></script>

<script type="text/javascript"><!--

$(document).ready(function() {

	$('#date').datepicker({dateFormat: 'yy-mm-dd'});

});

//--></script>

<?php echo $footer; ?> 